<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>

  <body>
    <div id="start"></div>
    <table align="center" id="table">
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
      <tr class="row_9:00">
        <td>9:00</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_9:30">
        <td>9:30</td>
        <td class="classes Mon" id="unique1"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_10:00">
        <td>10:00</td>
        <td class="classes Mon" id="unique2"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_10:30">
        <td>10:30</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_11:00">
        <td>11:00</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_11:30">
        <td>11:30</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_12:00">
        <td>12:00</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_12:30">
        <td>12:30</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_1:00">
        <td>1:00</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_1:30">
        <td>1:30</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_2:00">
        <td>2:00</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_2:30">
        <td>2:30</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_3:00">
        <td>3:00</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_3:30">
        <td>3:30</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_4:00">
        <td>4:00</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_4:30">
        <td>4:30</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_5:00">
        <td>5:00</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_5:30">
        <td>5:30</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_6:00">
        <td>6:00</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <!-- <tr class="row_6:30">
        <td>6:30</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr>
      <tr class="row_7:00">
        <td>7:00</td>
        <td class="classes Mon"></td>
        <td class="classes Tue"></td>
        <td class="classes Wed"></td>
        <td class="classes Thu"></td>
        <td class="classes Fri"></td>
      </tr> -->
    </table>
    <br>
    <!-- <form action="{{ url_for('table') }}" method="post"> -->
    <form id="form">
      <input id="course_name" name="course_name" autocomplete="off" autofocus placeholder="Course Name e.g CSPC" type="text">
      <input id="course_number" name="course_number" autocomplete="off" autofocus placeholder="Course No. e.g 101" type="text">
      <input type="submit" value="Submit">
    </form>

    <button id="next" type="button" style="float: right;">Next</button>
    <button id="previous" type="button" style="float: right;">Previous</button>

  </body>
</html>
